.title{
  font-size: 24px;
  font-weight: 700;
}
.subheading{
  font-size: 19px;
  padding: 8px 0px 10px 0px;
  font-family: sans-serif;
  font-weight: 300;
}
.time{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}
.outercontainer{
  margin-bottom: 20px;
}
.name{
  font-size: 13px;
  font-weight: 500;
  max-height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  padding-right: 4px;
  font-family: sans-serif;
}
.categoryname{
  font-size: 13px;
  font-weight: 500;
  max-height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  padding-right: 4px;
  font-family: sans-serif;
}
.in{
  font-size: 13px;
  padding-right: 4px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(117, 117, 117);
  font-family: sans-serif;
}
.text{
  line-height: 20px;
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
}
.count{
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(230, 230, 230, 1);
}
